@import url(reset.css);

body {
  background: #000;
  color: white;
}
header {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(49, 168, 221, 0.2) 50%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(banner.png);

  width: auto;
  height: 600px;
  text-align: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 40px;
  border-bottom: 1px solid #33a8db80;
}
.logo {
  background: rgba(0, 0, 0, 0.2);
  width: 100%px;
  height: 100%px;
  border-radius: 50%;
  object-fit: contain;
}
#intro {
  font-size: 20px;
  width: 600px;
}
main {
  width: auto;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
}
#aprender {
  display: inline-flex;
  width: 800px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
span {
  color: #33a8db;
  text-align: center;
}
.modulos {
  text-align: center;
  margin: 20px;
  border: 1px solid #33a8db;
  border-radius: 57px;
  box-shadow: inset -2px 6px 4px 0px rgba(0, 0, 0, 0.7);
  background-color: #252525;
  width: 535px;
  padding: 16px;
}
button {
  margin: 25px;
  border: 2px solid #31a8dd;
  color: #31a8dd;
  font-weight: 400;
  letter-spacing: 4px;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  height: auto;
  font-size: 20px;
  width: 326px;
  background-color: rgba(0, 0, 0, 0.2);
}
#imagem {
  width: auto;
  height: 550px;
  background: url(woman-code.png) no-repeat fixed;
  background-size: cover;
  position: relative;
  border: 1px solid #33a8db80;
}
#transform {
  position: absolute;
  top: 35%;
  margin-left: 200px;
  text-shadow: 3px 2px 0px #33a8db;
  font-weight: 900;
  font-size: 40px;
  width: 244px;
  height: 141px;
}
.desafios {
  width: auto;
  height: 650px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 100px;
  text-align: center;
}
footer {
  width: auto;
  height: 200px;
  display: flex;
  text-align: center;
  align-items: center;
  border-top: 1px solid #33a8db80;
  margin: auto;
  background: linear-gradient(
    180deg,
    rgba(51, 168, 219, 0) 0%,
    rgba(51, 168, 219, 0.2) 99.99%,
    rgba(51, 168, 219, 0.2) 100%
  );
}
a {
  text-decoration: none;
  color: #33a8db;
}
.banner {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 56px auto 156px;
}
#logo {
  width: 248px;
  height: 214px;
}
#titulo {
  background: linear-gradient(180deg, #33a8db 0%, #1472b7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 40px;
  width: auto;
  height: auto;
}

h2 {
  text-align: center;
  color: #33a8db;
  font-weight: 700;
  font-size: 32px;
  margin: 32px auto;
  width: 750px;
  letter-spacing: 4px;
}
p {
  font-size: 16px;
  text-align: center;
}
.desafiotxt {
  width: 792px;
  margin: 50px auto;
}
.fim {
  text-align: center;
  margin: auto;
}
